*{
	box-sizing: border-box;
}
nav ul{
	list-style: none;
}
nav ul li{
	display: inline;
	margin-left:20px;
}
.header-1{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.menu-mobile{
	width: 50px;
	display: none;
}
.menu-mobile div{
	height: 4px;
	background-color: #f27d09;
	margin-bottom: 5px;
}
.nav-mobile ul li{
	list-style: none;
	margin-top: 7px;
}
.nav-mobile ul{
	margin-top: 50px;
}
.nav-mobile{
	background-color: #ccc;
	position: fixed;
	height: 100vh;
	top: 0;
	right: -200px;
	z-index: 99;
	transition: right 0.5s;
	width: 200px;
}
body{
	margin: 0px;
	font-size: 24px;
}
.logo-header{
	height: 100px;
	display: flex;
	align-items: center;
}
.header-2{
	display: flex;
	justify-content: space-around;
	margin-top: 70px;
	flex-wrap: wrap;
}
.quero-conhecer{
	margin-top: 50px;
}
.quero-conhecer-bt-text{
	padding: 10px;
	border-radius: 10px;
	margin-top: 10px;
	width: 250px;
}
.bt-proximo, .bt-conhecer-guta{
	padding: 10px 20px;
	border-radius: 10px;
	cursor: pointer;
}
.bt-proximo, .bt-conhecer-guta{
	border: 0px;
}
.bt-login{
	border: 2px solid #003969;
	padding: 10px 30px;
	border-radius: 10px;
	background-color: #fff;
	cursor: pointer;
}
.bt-proximo{
	margin-top: 25px;
	background-color: #003969;
	color: #fff;
	font-weight: bold;
}
.bt-conhecer-guta{
	margin-top: 4px;
	background-color: #f27d09;
	color: #fff;
	font-weight: bold;
}
.cont-texto-header{
	width: 500px;
}
.texto-inteligencia{
	font-size: 3rem;
	font-weight: bold;
}
.img-header{
	display: flex;
	align-items: center;
}
.cont-traco-text{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 70px;
}
.traco{
	width:135px;
	height: 8px;
	background-color: #003969;
}
.texto-h{
	text-align: center;
}

/* //q////////////// SLIDE q////q//////q///// */
.bts-legenda div{
	width: 15px;
	height: 15px;
	border-radius: 50%;

}
.desactive{
	background-color: #b3b3b3;
}

.bts-legenda{
	display: flex;
	align-items: center;
}
.bt-margin{
	margin-right: 5px;
}
.bt-left{
	margin-right: 20px;
	cursor: pointer;
	visibility: hidden;
}
.bt-right{
	margin-left: 20px;
	cursor: pointer;
}
.active{
	background-color: blue;
}
.cont-slide-desktop{
	display: flex;
	left: 0px;
	position: relative;
	transition: left 0.5s;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;

}
.janela-desktop{
	overflow-x: hidden;
	margin-top: 50px;
	margin-bottom: 10px;
	position: relative;
}
.item-texto{
	margin-bottom: 60px;
	word-wrap: break-word;
}
.cont-item{
	box-shadow: 0px 0px 7px #d9d9d9;
	padding: 40px;
	padding-top: 55px;
	border-radius: 20px;
}
.legenda-slide{
	display: flex;
	justify-content: center;
}
.item-margin{
	margin-right: 20px;
}
/****** fimm slide ********/
.cont1-empresas-logo, .cont2-empresas-logo, .cont1-opcoes-para-ajudar{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.cont1-opcoes-para-ajudar{
	margin-left: 185px;
	margin-right: 185px;
}
.cont2-empresas-logo{
	margin-top: 40px;
}
.cont1-empresas-logo div, .cont2-empresas-logo div{
	margin-right: 50px;
}
.cont1-empresas-logo{
	margin-left: 350px;
	margin-right: 350px;
}
.item-opcoes-para-ajudar{
	width: 400px;
	height: 250px;
	background-color: #ccc;
	margin: 4px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 40px;
	padding-left: 20px;

}
.cont1-opcoes-para-ajudar a{
	text-decoration: none;
	color: #000;
}
.texto-1-opcoes-ajudar{
	font-size: 1.3rem;
	margin-bottom: 7px;
}
.texto-2-opcoes-ajudar{
	font-size: 1.8rem;
}
.cont-premiacoes{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.item-premiacoes{
	margin-right: 50px;
}
.cont-pensado-seu-negocio{
	background-color: #f27d09;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 40px;
	margin-top: 100px;
}
.cont-funcionarios{
	display: flex;
	flex-wrap: wrap;
}
.item-funcionarios{
	background-color: #fff;
	margin-right: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	padding: 30px;
	padding-top: 55px;
	border-radius: 15px;
}
.funcionarios-foto{
	background-image: url("img/img-func.jpg");
	height: 130px;
	width: 130px;
	background-size: cover;
	border-radius: 50%;
}
.funcionarios-cargo{
	margin-top: 14px;
	color: #003969;
	font-weight: bold;
	margin-bottom: 14px;
}
.funcionarios-texto{
	word-wrap: break-word;
	height: auto;
	width: 100%;
}
/****** footer *****/
footer{
	background-color: #003969;
	display: flex;
	justify-content: space-around;
	padding: 85px 120px;
	margin-top: 100px;
	flex-wrap: wrap;
	color: #fff;
	font-size: 1.2rem;
}

.icons-redes-sociais li,.cont-contato ul li, .cont-termos-etc ul li, .cont-baixeapp ul li, .cont-logo-e-texto ul li{
	list-style: none;
}
.icons-redes-sociais li{
	display: inline;
}
.icons-redes-sociais{
	padding-left: 0px;
}
.cont-termos-etc ul li{
	margin-bottom: 30px;
	font-weight: bold;
}
.cont-contato ul li{
	margin-bottom: 15px;
}
/****** fim ********/
/* ////// mobile slide ////////// */
.cont-bts-mobile-legenda{
	position: absolute;
	top: 0px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	display: none;
}

.cont-item-mobile{
	position: absolute;
	padding: 10px;
	width: 280px;
	box-shadow: 0px 0px 5px #b3b3b3;
	border-radius: 20px;
}
/* aqui a alturaa e aa larura ajusta a exibicao dos itens */
.janela-mobile{
	width: 300px;
	position: relative;
	overflow: hidden;
}
/* fim */
.cont-slide-mobile{
	position: relative;
	transition: left 0.5s;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	left: 0px;
}
.left-mobile, .right-mobile{
	font-size: 2.5rem;
}
/* //////// fim ////////////*/
/* ///////////// fim /////////////// */
@media (max-width: 425px){
	body{
		margin: 0;
	}
	.header-1, .header-2{
		margin-left: 3%;
		margin-right: 3%;

	}
	.img-header img{
		width: 100%;
	}
	.header-1{
		justify-content: space-between;
	}
	.cont1-empresas-logo, .cont2-empresas-logo{
		justify-content: center;
	}
	.cont2-empresas-logo{
		margin: 0;
	}
	.cont1-empresas-logo div{
		margin: 0px 5px;
	}
	.item-opcoes-para-ajudar{
		width: 300px;
		height: auto;
		background-color: #ccc;
		margin: 4px;
		padding-top: 100px;
	}
	.item-premiacoes{
		margin: 20px;	
	}
	.item-funcionarios{
		margin: 0px;
		width: 300px;
	}
	.cont-funcionarios{
		justify-content: center;
	}
	.item-funcionarios-margim-bottom-mobile{
		margin-bottom: 15px;
	}
	footer{
		flex-direction: column;
		padding: 0px;
	}
}
@media (max-width: 768px){

	.header-1{
		justify-content: space-between;
		margin-left: 20px;
		margin-right: 20px;
	}
	footer{
		padding: 0px;
		padding-top: 50px;
		padding-bottom: 50px;
		padding-right: 50px;
	}
	
}
/* menu */
@media (min-width: 320px) and (max-width: 768px){
	.menu-mobile{
		display: block;
		
	}
	nav{
		
		display: none;
		
	}
}
/* fim */
@media (max-width: 1440px){
	.cont1-empresas-logo{
		margin-left: 100px;
		margin-right: 100px;
	}
}

@media (max-width: 1024px){
	.cont1-opcoes-para-ajudar, .cont1-empresas-logo{
		margin: 0px;
	}
	.cont-funcionarios{
		justify-content: center;
	}
	.item-funcionarios{
		margin-bottom: 30px;
	}
	
}
@media (min-width: 2560px){
	.cont1-empresas-logo{
		margin: 0px;
	}
}
@media (min-width: 320px) and (max-width: 768px){
	.img-header{
		margin-top: 100px;
	}
}
